/*******************/
/* CSS For Project */
/*      Three      */
/*******************/
/* By Mark Sporich */
/*******************/

html {

	background-color: #0f6e10;

}

body {
	
	font-family: sans-serif;
	font-size: 150%;
	line-height: 1.4;
	width: 75%;
	margin: 0 auto;

}

/* header styles */

h1 {
	
	font-size: 4rem;
	text-align: center;
	
}

h2 {
	
	font-size: 2.5rem;
	margin-bottom: 10px;
	text-align: center;
	
}

header p {
	
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	
}

/* section styles */
section {
	
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
	
}
section article {
	
	border: 1px solid black;
	box-shadow: 0 2px 14px black;
	padding: 2.5%;
	width: 30%;
	margin: 1%;
	border-radius: 10px;
	background-color: #6ed467;
	
}
article img {
	
	display: block;
	height: 150px;
	width: 90px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-radius: 10px;
	
}
section p {
	
	margin: 5px 0;
	
}

section ul {
	
	margin-top: 0;
	
}
